lib/flows/flows.json
[
    {
        "id": "a196f2e693d0513d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "170cf3d32037618b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "41ba733bbe273da8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "e4ff48c27a7e1048",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65dc7ea9749cbc0e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8dcb7b29c91b841f",
        "type": "ui_group",
        "name": "MANUL",
        "tab": "86e8d32b5e9740dd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "86e8d32b5e9740dd",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4307dd9e662f1b2f",
        "type": "ui_group",
        "name": "UI",
        "tab": "5028656dcbf2474e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2a66bb99c7a0aa3",
        "type": "ui_group",
        "name": "อุณหภูมิ",
        "tab": "06858ee48b8b0542",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06858ee48b8b0542",
        "type": "ui_tab",
        "name": "อุณหภูมิ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5028656dcbf2474e",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "65c50aad6b0889e7",
        "type": "ui_group",
        "name": "AUTO",
        "tab": "86e8d32b5e9740dd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9696417f83351e66",
        "type": "image",
        "z": "a196f2e693d0513d",
        "name": "",
        "width": 160,
        "data": "annotatedInput",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "b94b6c74daa931fd",
        "type": "fileinject",
        "z": "a196f2e693d0513d",
        "name": "",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "475f50c1970beef7",
                "9696417f83351e66"
            ]
        ]
    },
    {
        "id": "475f50c1970beef7",
        "type": "cocossd",
        "z": "a196f2e693d0513d",
        "name": "",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "0d1937e3d4d11d96",
                "508c8c4543321bb9"
            ]
        ]
    },
    {
        "id": "0d1937e3d4d11d96",
        "type": "image",
        "z": "a196f2e693d0513d",
        "name": "",
        "width": 160,
        "data": "annotatedInput",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "508c8c4543321bb9",
        "type": "debug",
        "z": "a196f2e693d0513d",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "456d4286.6d5b2c",
        "type": "debug",
        "z": "170cf3d32037618b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "91ebc5b6.8ccdd8",
        "type": "teachable machine",
        "z": "170cf3d32037618b",
        "name": "",
        "mode": "online",
        "modelUrl": "http://61.19.114.85/datacenter/Version3/",
        "localModel": "teachable_model",
        "output": "best",
        "activeThreshold": false,
        "threshold": 80,
        "activeMaxResults": false,
        "maxResults": 3,
        "passThrough": true,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "456d4286.6d5b2c"
            ]
        ]
    },
    {
        "id": "01e26608fa047b50",
        "type": "camera",
        "z": "170cf3d32037618b",
        "name": "",
        "x": 530,
        "y": 280,
        "wires": [
            [
                "91ebc5b6.8ccdd8"
            ]
        ]
    },
    {
        "id": "e5021a59647a2f5e",
        "type": "fileinject",
        "z": "170cf3d32037618b",
        "name": "",
        "x": 520,
        "y": 320,
        "wires": [
            [
                "91ebc5b6.8ccdd8"
            ]
        ]
    },
    {
        "id": "309069d9154be5ef",
        "type": "inject",
        "z": "170cf3d32037618b",
        "name": "reload",
        "props": [
            {
                "p": "reload",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "91ebc5b6.8ccdd8"
            ]
        ]
    },
    {
        "id": "feb4db4292ddfb50",
        "type": "rpi-gpio out",
        "z": "41ba733bbe273da8",
        "name": "",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "f12a9ea7a5ebd9af",
        "type": "debug",
        "z": "41ba733bbe273da8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "965dc77bc58c94d4",
        "type": "ui_button",
        "z": "41ba733bbe273da8",
        "name": "ON",
        "group": "8dcb7b29c91b841f",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "dashborad",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "feb4db4292ddfb50",
                "f12a9ea7a5ebd9af"
            ]
        ]
    },
    {
        "id": "e84ad94ec1c7e206",
        "type": "ui_button",
        "z": "41ba733bbe273da8",
        "name": "OFF",
        "group": "4307dd9e662f1b2f",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "dashboard",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "feb4db4292ddfb50",
                "f12a9ea7a5ebd9af"
            ]
        ]
    },
    {
        "id": "e3d8c379e6af49a4",
        "type": "rpi-dht22",
        "z": "41ba733bbe273da8",
        "name": "",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": "0",
        "pin": "3",
        "x": 340,
        "y": 540,
        "wires": [
            [
                "5f5434c9950ec556"
            ]
        ]
    },
    {
        "id": "f105f7520c427b4a",
        "type": "inject",
        "z": "41ba733bbe273da8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "e3d8c379e6af49a4"
            ]
        ]
    },
    {
        "id": "5f5434c9950ec556",
        "type": "debug",
        "z": "41ba733bbe273da8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "5322ba7e12d46fdb",
        "type": "inject",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "26b133cc0193300a"
            ]
        ]
    },
    {
        "id": "26b133cc0193300a",
        "type": "rpi-dht22",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": "0",
        "pin": "8",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "067a6b53067b7473",
                "b3cf74b0b97d8273",
                "9258dcfd9b962e8f",
                "a6a240a0d4953a46"
            ]
        ]
    },
    {
        "id": "1b9851b5a5e04c8f",
        "type": "debug",
        "z": "e4ff48c27a7e1048",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "b3cf74b0b97d8273",
        "type": "function",
        "z": "e4ff48c27a7e1048",
        "name": "Temperature Data",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "7c7b9c667d2eeafc",
                "cf7578ae118ede19"
            ]
        ]
    },
    {
        "id": "067a6b53067b7473",
        "type": "function",
        "z": "e4ff48c27a7e1048",
        "name": "Humidity Data",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 480,
        "wires": [
            [
                "1b9851b5a5e04c8f",
                "6233db70ea27f8ea",
                "9e4b70240bf212d5",
                "ad0c1264991944a9",
                "a931fee7b4018720"
            ]
        ]
    },
    {
        "id": "7c7b9c667d2eeafc",
        "type": "debug",
        "z": "e4ff48c27a7e1048",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "cf7578ae118ede19",
        "type": "ui_gauge",
        "z": "e4ff48c27a7e1048",
        "name": "Temperature Monitor",
        "group": "d2a66bb99c7a0aa3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "deg C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "6233db70ea27f8ea",
        "type": "ui_gauge",
        "z": "e4ff48c27a7e1048",
        "name": "Humidity Meter",
        "group": "d2a66bb99c7a0aa3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "1b1a6333e7ab0e49",
        "type": "rpi-gpio out",
        "z": "e4ff48c27a7e1048",
        "name": "LED",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "9258dcfd9b962e8f",
        "type": "function",
        "z": "e4ff48c27a7e1048",
        "d": true,
        "name": "Temperature Data",
        "func": "var temp = msg.payload;\nif (temp > \"20.00\") {\n    msg.topic = true;\n} else {\n    msg.topic = false;\n}\n// msg.topic = temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "8d93c07140c92c89",
                "3d63ace5aed41b09"
            ]
        ]
    },
    {
        "id": "8d93c07140c92c89",
        "type": "debug",
        "z": "e4ff48c27a7e1048",
        "d": true,
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 220,
        "wires": []
    },
    {
        "id": "3d63ace5aed41b09",
        "type": "ui_switch",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "8dcb7b29c91b841f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 180,
        "wires": [
            [
                "1b1a6333e7ab0e49"
            ]
        ]
    },
    {
        "id": "ed5a9406cd52b0ca",
        "type": "template",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 600,
        "y": 640,
        "wires": [
            [
                "6b0e24cd70fb51e4",
                "8227d931cfbe7126"
            ]
        ]
    },
    {
        "id": "47ca710c37b89e8e",
        "type": "inject",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "ed5a9406cd52b0ca"
            ]
        ]
    },
    {
        "id": "6b0e24cd70fb51e4",
        "type": "debug",
        "z": "e4ff48c27a7e1048",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "69191b85a7651006",
        "type": "ui_template",
        "z": "e4ff48c27a7e1048",
        "group": "4307dd9e662f1b2f",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div>\n<img src=\"https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png\"/>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "8227d931cfbe7126",
        "type": "ui_text",
        "z": "e4ff48c27a7e1048",
        "group": "4307dd9e662f1b2f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "a6a240a0d4953a46",
        "type": "function",
        "z": "e4ff48c27a7e1048",
        "name": "function 1",
        "func": "if(msg.payload >= 29){\n    msg.payload = 1;\n}else\n{\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "1b1a6333e7ab0e49"
            ]
        ]
    },
    {
        "id": "9e4b70240bf212d5",
        "type": "function",
        "z": "e4ff48c27a7e1048",
        "name": "function 2",
        "func": "if (msg.payload >= 45) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 300,
        "wires": [
            [
                "255032ac342e7d4f"
            ]
        ]
    },
    {
        "id": "255032ac342e7d4f",
        "type": "rpi-gpio out",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "pin": "20",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1120,
        "y": 300,
        "wires": []
    },
    {
        "id": "3768d5e5a25cb22c",
        "type": "ui_switch",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "label": "Valve01",
        "tooltip": "",
        "group": "8dcb7b29c91b841f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1120,
        "y": 340,
        "wires": [
            [
                "255032ac342e7d4f"
            ]
        ]
    },
    {
        "id": "a931fee7b4018720",
        "type": "function",
        "z": "e4ff48c27a7e1048",
        "name": "function 3",
        "func": "if (msg.payload >= 45) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 380,
        "wires": [
            [
                "5896465079787005"
            ]
        ]
    },
    {
        "id": "ad0c1264991944a9",
        "type": "function",
        "z": "e4ff48c27a7e1048",
        "name": "function 4",
        "func": "if (msg.payload >= 45) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 460,
        "wires": [
            [
                "b760b3b99578cb4e"
            ]
        ]
    },
    {
        "id": "5896465079787005",
        "type": "rpi-gpio out",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "pin": "12",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "b760b3b99578cb4e",
        "type": "rpi-gpio out",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "pin": "16",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1120,
        "y": 460,
        "wires": []
    },
    {
        "id": "4f58f546c3bd83fe",
        "type": "ui_switch",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "label": "Valve02",
        "tooltip": "",
        "group": "8dcb7b29c91b841f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1120,
        "y": 420,
        "wires": [
            [
                "5896465079787005"
            ]
        ]
    },
    {
        "id": "d48457ede3d8b486",
        "type": "ui_switch",
        "z": "e4ff48c27a7e1048",
        "name": "",
        "label": "Valve03",
        "tooltip": "",
        "group": "8dcb7b29c91b841f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1120,
        "y": 500,
        "wires": [
            [
                "b760b3b99578cb4e"
            ]
        ]
    }
]